[Unit]
Description="{{ process }}"
After=network.target
PartOf={{ process }}-controller.target

[Install]
WantedBy={{ process }}-controller.target

[Service]
Restart=on-failure
#RestartSec=10
TimeoutStopSec=70
User={{ pillar.elife.deploy_user.username }}
Environment="HOME=/home/{{ pillar.elife.deploy_user.username }}"
WorkingDirectory=/srv/search
ExecStart=/usr/bin/php bin/console gearman:worker -e {{ pillar.elife.env }} %I
