[Unit]
Description="{{ process }}"
After=network.target
PartOf={{ process }}-controller.target

[Install]
WantedBy={{ process }}-controller.target

[Service]
Restart=always
StartLimitIntervalSec=30
StartLimitBurst=30
RestartSec=1
TimeoutStopSec=70
User={{ pillar.elife.deploy_user.username }}
Environment="HOME=/home/{{ pillar.elife.deploy_user.username }}"
WorkingDirectory=/srv/search
# '%I | For instantiated units this is the string between the first "@" character and the type suffix. Empty for non-instantiated units.'
# 'search-queue-watch@0.service' => 0
# /usr/bin/php bin/console queue:watch -e prod 0
ExecStart=/usr/bin/php bin/console queue:watch -e {{ pillar.elife.env }} %I
